
.dropdown {
    position: relative;
    background-color: white;
    font-size: xx-large;
  }

  .dropdown:hover {
    position: relative;
    background-color: rgb(182, 179, 181);
    font-size: xx-large;
  }
  
  .dropdown-menu {
    position: absolute;
    list-style-type: none;
    padding: 0;
    transition-duration: 5s;
    /*border: 1px solid grey;*/
    width: 150px;
    
  }

.item{

    border: 1px solid grey;
    background-color: rgb(235, 214, 231);
    padding:0;
    text-align:center;

    
}

.item:hover{

    border: 1px solid grey;
    background-color: rgb(248, 240, 246);
    
}

  .buttonstyled{
    padding: 0;
    border: none;
    background: none;
    text-align:center;
    margin: 0 auto;
    display: inline-block;

  }
